/* transparency */
:root{
  --primary-background-color: #00000000;
  --dark-theme-background-color: #00000000;
--yt-spec-base-background: #00000000;
--yt-spec-brand-background-solid: #00000000;
}

html[dark]{
  background-color: #00000000 !important;
}
  
#container.ytd-searchbox{
  background-color: #00000000;
}


/* transparent youtube header */
#masthead-container{
  #background.ytd-masthead{
    background-color: #00000000;
    /* backdrop-filter: blur(30px); */
  }
}

/* Hide youtube filter chips at top */
.ytd-two-column-browse-results-renderer #header{
  display: none;
}

/* Make video backgroound transparent */
.html5-main-video, .html5-video-container, #movie_player, #container, #ytd-player, #player-container, #player-full-bleed-container, #full-bleed-container{
  background-color: #00000000 !important;
}

/* transparent overlay chat */
#chat{
  position: absolute !important;
height: 800px;
top: 50em;
}

/* search box background */
.ytSearchboxComponentSearchButton, div.style-scope.tp-yt-app-drawer{
  background-color: var(--yt-spec-text-primary-inverse) !important;
}
